body{
    max-width: 900px;
    font-family: 'IBM', sans-serif;
    color: #1F1F1F;
    margin: 0;
    font-weight: 400;
}

.accordion__text_content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 560px;
}

.accordion__theme{
    text-transform: uppercase;
    color:#8D867B;
}

.accordion__title{
    margin: 0;
    display: inline-block;
    font-weight: 700;
    font-size: 56px;
}

.accordion__description{
    margin-bottom: 16px;
    color:#6C655B;
    font-size: 20px;
}

.accordion__main_block_content:first-child{
    border-top: 1px solid #D8D2C8;
}

.accordion__main_block_content{
    position: relative;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid #D8D2C8;
    overflow: hidden;
    padding: 28px 0;
}

.accordion__main_block_content p {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-8px);
  transition: max-height .4s ease, opacity .4s ease, transform .4s ease;
  padding-left: 48px;
  color: #5D564D;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  }

.accordion__main_block_content_open p {
    max-height: 800px;   
    opacity: 1;
    transform: translateY(0);
    margin-top: 28px;
  }

.accordion__main_block_content_question::before {
  content: attr(data-number);
  color: #A19A90;
  font-size: 12px;
  margin-right: 35px;
  display: inline-block;
}

.accordion__main_block_content_icon {
  font-size: 1em;
  transition: transform 0.4s ease;
  display:inline-block;
  text-align: end;
  position: absolute;
  right: 0;
}

.accordion__main_block_content_icon_open {
  transform: rotate(45deg);
}

@font-face {
  font-family: 'IBM';
  src: url('../fonts/IBMPlexSansBold.woff2');
  font-weight: 700; 
  font-style: normal; 
}
@font-face {
  font-family: 'IBM';
  src: url('../fonts/IBMPlexSansMedium.woff2');
  font-weight: 500; 
  font-style: normal; 
}
@font-face {
  font-family: 'IBM';
  src: url('../fonts/IBMPlexSansRegular.woff2');
  font-weight: 400; 
  font-style: normal; 
}